@page "/content/author/{authorId:guid}"

@using Syncfusion.Blazor.RichTextEditor

<h1>@AuthorId</h1>

<MudText Typo="Typo.h5" Color="Color.Primary" Class="mb-4">@Resource.Edit_Author</MudText>
<ServerSideValidator @ref="_serverSideValidator" />
<EditForm Model="_authorForEditVm" OnValidSubmit="SubmitForm">
    <EditContextServerSideValidator @ref="_editContextServerSideValidator" />
    <FluentValidationValidator />
    <MudCard>
        <MudCardContent>
            <MudTabs KeepPanelsAlive="true"
                     Elevation="25"
                     Color="Color.Transparent"
                     Rounded="true"
                     PanelClass="mt-6">
                <MudTabPanel Text="@Resource.Details" Icon="@Icons.Material.Filled.Person">

                    <!--TODO add resources -->
                    <MudCard Elevation="25">
                        <MudCardContent>
                            <div class="mx-6 my-4">
                                <!-- Title -->
                                <MudGrid Justify="Justify.SpaceBetween" Class="mb-10">
                                    <MudItem xs="12" md="4">
                                        <div class="d-flex flex-column">
                                            <MudText Typo="Typo.h5">@Resource.Author_name_label</MudText>
                                            <MudText Typo="Typo.body2">
                                                @Resource.Author_name_description
                                            </MudText>
                                        </div>
                                    </MudItem>

                                    <MudItem xs="12" md="8">
                                        <MudTextField Label="@Resource.Author_name_label"
                                                      Variant="Variant.Outlined"
                                                      Class="pl-md-12"
                                                      MaxLength="@_maxNameChars"
                                                      Counter="0"
                                                      Immediate="true"
                                                      @bind-Value="_authorForEditVm.Name" For="@(() => _authorForEditVm.Name)" />
                                    </MudItem>
                                </MudGrid>

                                <!-- Bio -->
                                <MudGrid Justify="Justify.SpaceBetween" Class="mb-10">
                                    <MudItem xs="12" md="4">
                                        <div class="d-flex flex-column">
                                            <MudText Typo="Typo.h5">@Resource.Author_bio_label</MudText>
                                            <MudText Typo="Typo.body2">
                                                @Resource.Author_bio_description
                                            </MudText>
                                        </div>
                                    </MudItem>

                                    <MudItem xs="12" md="8">

                                        <!--TODO set bootstrap primary color -->
                                        <!-- the  add link feature in rte uses bootstrap-->

                                        <div class="pl-md-12">
                                            <RichTextEditor RteValue="@_authorForEditVm.Bio" OnValueChangedCallback="@UpdateRteValue" />
                                        </div>

                                    </MudItem>
                                </MudGrid>

                                <!-- Image Upload -->
                                <MudGrid Justify="Justify.SpaceBetween" Class="mb-10">
                                    <MudItem xs="12" md="4">
                                        <div class="d-flex flex-column">
                                            <MudText Typo="Typo.h5">@Resource.Author_image_label</MudText>
                                            <MudText Typo="Typo.body2">
                                                @Resource.Author_image_description <span class="semi-bold-text">@_recommendedResolution</span>
                                            </MudText>
                                        </div>
                                    </MudItem>

                                    <MudItem xs="12" md="8">
                                        <div class="pl-md-12">
                                            <MudCard Elevation="25">
                                                <MudCardContent>
                                                    <MudPaper Class="pa-2" Outlined="true">
                                                        <div class="d-flex justify-center mb-4">
                                                            <MudAvatar Image="@(_imageSrc ?? _authorForEditVm.ImageUrl)"
                                                                       Style="height: 200px; width: 200px;">
                                                            </MudAvatar>
                                                        </div>
                                                        @if (!string.IsNullOrWhiteSpace(_authorForEditVm.ImageUrl))
                                                        {
                                                            <MudText Align="Align.Center">
                                                                <MudFab OnClick="() => { _authorForEditVm.ImageUrl = null; }"
                                                                    Color="Color.Warning"
                                                                    Icon="@Icons.Material.Filled.Remove"
                                                                    aria-label="edit" />
                                                            </MudText>
                                                        }
                                                        <MudText Align="Align.Center">@($"{_authorForEditVm.Name}")</MudText>
                                                    </MudPaper>
                                                </MudCardContent>
                                                <MudCardActions Class="d-flex justify-center">
                                                    <div class="form-group">
                                                        <BpUploadFile ButtonId="imageInput"
                                                                      ButtonIcon="@Icons.Filled.PhotoCamera"
                                                                      ButtonName="@(HasUploadedImage() ? Resource.Replace_image : Resource.Upload_image)"
                                                                      AllowRename="false"
                                                                      AllowedExtensions=".jpg,.png,.jpeg,.gif"
                                                                      MaxFileSize="10485760"
                                                                      OnFileSelected="ImageSelected"
                                                                      OnFileUnSelected="ImageUnSelected"
                                                                      OnImageUpload="GetBase64StringImageUrl" />
                                                        <ValidationMessage For="@(() => _authorForEditVm.ImageUrl)" />
                                                    </div>
                                                </MudCardActions>
                                            </MudCard>
                                        </div>
                                    </MudItem>
                                </MudGrid>
                            </div>
                        </MudCardContent>
                    </MudCard>
                </MudTabPanel>

                <MudTabPanel Text="@Resource.Seo" Icon="@Icons.Material.Filled.Public">
                    <MudCard Elevation="25">
                        <MudCardContent>
                            <div class="mx-6 my-4">
                                <!-- SEO Title -->
                                <MudGrid Justify="Justify.SpaceBetween" Class="mb-10">
                                    <MudItem xs="12" md="4">
                                        <div class="d-flex flex-column">
                                            <MudText Typo="Typo.h5">@Resource.Seo_title_label</MudText>
                                            <MudText Typo="Typo.body2">
                                                @Resource.Seo_title_description
                                            </MudText>
                                        </div>
                                    </MudItem>

                                    <MudItem xs="12" md="8">
                                        <MudTextField Label="@Resource.Seo_title_label"
                                                      Variant="Variant.Outlined"
                                                      Class="pl-md-12"
                                                      MaxLength="@_maxSeoTitleChars"
                                                      Counter="0"
                                                      Immediate="true"
                                                      HelperText="@($"{Resource.Max} {_maxSeoTitleChars} {Resource.Characters}")"
                                                      @bind-Value="_authorForEditVm.SeoTitle" For="@(() => _authorForEditVm.SeoTitle)" />
                                    </MudItem>
                                </MudGrid>

                                <!-- SEO Description -->
                                <MudGrid Justify="Justify.SpaceBetween" Class="mb-10">
                                    <MudItem xs="12" md="4">
                                        <div class="d-flex flex-column">
                                            <MudText Typo="Typo.h5">@Resource.Seo_description_label</MudText>
                                            <MudText Typo="Typo.body2">
                                                @Resource.Seo_description_description
                                            </MudText>
                                        </div>
                                    </MudItem>

                                    <MudItem xs="12" md="8">
                                        <MudTextField Label="Multiline" 
                                                      Lines="3" 
                                                      Variant="Variant.Outlined"
                                                      Class="pl-md-12"
                                                      MaxLength="@_maxSeoDescriptionChars"
                                                      Counter="0"
                                                      Immediate="true"
                                                      HelperText="@($"{Resource.Max} {_maxSeoDescriptionChars} {Resource.Characters}")"
                                                      @bind-Value="_authorForEditVm.SeoDescription" For="@(() => _authorForEditVm.SeoDescription)" />
                                    </MudItem>
                                </MudGrid>

                                <!-- Slug -->
                                <MudGrid Justify="Justify.SpaceBetween" Class="mb-10">
                                    <MudItem xs="12" md="4">
                                        <div class="d-flex flex-column">
                                            <MudText Typo="Typo.h5">@Resource.Slug_label</MudText>
                                            <MudText Typo="Typo.body2">
                                                @Resource.Slug_description<span class="semi-bold-text">@_slugExampleName</span>
                                            </MudText>
                                        </div>
                                    </MudItem>

                                    <MudItem xs="12" md="8">
                                        <MudTextField Label="@Resource.Slug_label"
                                                      Variant="Variant.Outlined"
                                                      Class="pl-md-12"
                                                      MaxLength="@_maxSlugChars"
                                                      Counter="0"
                                                      Immediate="true"
                                                      HelperText="@($"{Resource.Slug_helper_text} {Resource.Max} {_maxSlugChars} {Resource.Characters}")"
                                                      Placeholder="@SlugPlaceholder"
                                                      @bind-Value="_authorForEditVm.Slug" For="@(() => _authorForEditVm.Slug)" />
                                    </MudItem>
                                </MudGrid>
                            </div>
                        </MudCardContent>
                    </MudCard>
                </MudTabPanel>
            </MudTabs>
        </MudCardContent>
        <MudCardActions Class="pb-4 pl-4">
            <MudButton ButtonType="ButtonType.Submit" Variant="Variant.Filled" Color="Color.Primary" Class="ml-auto"
                       FullWidth="true">@Resource.Save</MudButton>
        </MudCardActions>
        <MudDivider />
        <MudExpansionPanels>
            <MudExpansionPanel Text="@Resource.Validation_Summary" IsExpanded="true" Disabled="true" HideIcon="true">
                <MudText Color="@Color.Error">
                    <ValidationSummary />
                </MudText>
            </MudExpansionPanel>
        </MudExpansionPanels>
    </MudCard>
</EditForm>

@code {


}
