@page "/poc/GlobalVariable"

<MudCard>
    <MudCardHeader>
        <CardHeaderContent>
            <MudText Typo="Typo.h6" Color="Color.Primary" Class="mb-4">
                @Resource.Global_Variable
                <MudFab OnClick="@TipsToggle" Label="@Resource.Tips" Color="Color.Secondary" Icon="@Icons.Material.Filled.TipsAndUpdates" Size="Size.Small" IconSize="Size.Small" Class="ma-2" />
                <div Class="relative">
                    <MudPopover Open="@IsTipsOpen" Class="px-4 pt-4">
                        <MudElement HtmlTag="h4" Class="mt-4">This page illustrate the use of global variables in conjunction with Singleton Service.</MudElement>
                        <MudDivider />
                        <MudElement HtmlTag="h4" Class="mt-4">A Play/Stop button is located in the header menu which is a part of the Layout component.</MudElement>
                        <MudDivider />
                        <MudElement HtmlTag="h4" Class="mt-4">When you click on the Play/Stop button, a boolean value will be sent to this page.</MudElement>
                        <MudDivider />
                        <MudElement HtmlTag="h4" Class="mt-4">An audio can be shown or hidden according to the received value.</MudElement>
                        <MudDivider />
                        <MudButton OnClick="@TipsToggle" Variant="Variant.Filled" Color="Color.Error" Class="ml-auto mr-n3 mb-1 mt-4">@Resource.Close</MudButton>
                    </MudPopover>
                </div>
            </MudText>
        </CardHeaderContent>
    </MudCardHeader>
    <MudCardContent>
        @if (AppStateManager.Visible)
        {
            <audio autoplay controls><source src="https://file-examples-com.github.io/uploads/2017/11/file_example_MP3_700KB.mp3" /></audio>
        }
    </MudCardContent>
    <MudCardActions>
        @*<MudButton Variant="Variant.Text" Color="Color.Primary">Read More</MudButton>*@
    </MudCardActions>
</MudCard>

@code {

}