@layout AccountLayout
@page "/account/manage/EmailChangeConfirmation/{DisplayConfirmAccountLink:bool}"
@page "/account/manage/EmailChangeConfirmation/{DisplayConfirmAccountLink:bool}/{emailConfirmationUrl}"

<MudText Typo="Typo.h4" GutterBottom="true">@Resource.Email_Change_Confirmation</MudText>
@if (DisplayConfirmAccountLink)
{
    <MudText Typo="Typo.body2" Style="text-align:justify">
        @Resource.This_app_does_not_currently_have_a_real_email_sender_registered, @Resource.see <a href="https://aka.ms/aspaccountconf">@Resource.these_docs</a> @Resource.for_how_to_configure_a_real_email_sender.
        @Resource.Normally_this_would_be_emailed. @Resource.Click <MudLink Href="@EmailConfirmationUrl">@Resource.here</MudLink> @Resource.to_confirm_your_account.
    </MudText>
}
else
{
    <MudText Typo="Typo.body2">
        @Resource.Please_check_your_email_to_confirm_your_account.
    </MudText>
}

@code {

}